{% extends 'base.html' %}

{% block content %}
<div class="vault-wrapper">
    <div class="vault-card">

        <h2 class="vault-title">Download File</h2>

        <p class="vault-doc">
            📄 {{ file.original_filename }}
        </p>

        <form method="POST">
            {% csrf_token %}

            <input
                type="password"
                name="password"
                placeholder="Confirm your account password"
                class="password-input"
                autocomplete="current-password"
                required
            >

            <button type="submit" class="vault-btn">
                Decrypt & Download
            </button>
        </form>

    </div>
</div>
{% endblock %}
